:root {
  --title-size: clamp(1.5rem, 2vw + 1rem, 3rem);
}

.portfolio-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5,auto);
  grid-template-areas:  
  "header"
  "featured"
  "project1"
  "project2"
  "footer";
}

@media (min-width: 768px) {
  .portfolio-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "header header"
    "featured featured"
    "project1 project2"
    "footer footer";
}
}

@media (min-width: 1024px) {
  .portfolio-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "header header header"
    "featured project1 project2"
    "footer footer footer";
  }
}